// Mixin para el contenedor
@mixin container($padding: $padding-base) {
    padding: $padding;
    background-color: $background-color;
    border-radius: $border-radius;
    color: $text-color-primary;
  }
  
  // Mixin para el texto
  @mixin text-style($color: $text-color-primary, $size: $font-size-base, $weight: normal) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
  }
  
  // Mixin para iconos
  @mixin icon-size($size: $icon-size) {
    width: $size;
    height: $size;
  }
  
  // Mixin para sombra
  @mixin box-shadow($color: rgba(0, 0, 0, 0.2), $blur: 10px, $spread: 2px) {
    box-shadow: 0 4px $blur $spread $color;
  }
  