// Mixin para el degradado de fondo
@mixin gradient-background($color1, $color2) {
  background: linear-gradient(135deg, $color1, $color2);
}

// Mixin para la sombra de caja
@mixin box-shadow($color: rgba(0, 0, 0, 0.1), $x: 0, $y: 4px, $blur: 10px) {
  box-shadow: $x $y $blur $color;
}

// Mixin para bordes redondeados
@mixin rounded-corners($radius: 10px) {
  border-radius: $radius;
}
