// Colores
$background-color: #3a2b5e;
$white: #ffffff;
$text-color-secondary: #b0a9cc;
$highlight-color: #ffcc00;
$low-opacity-color: rgba(255, 255, 255, 0.5);

// Tipografía
$font-family: 'Roboto', sans-serif;
$font-size-base: 20px;

// Tamaños
$icon-size: 24px;
$padding-base: 8px;
$border-radius: 10px;
